
body{
    background-image: url("../Images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
}




#CheeseBoard{

    width: 800px;
    height: 800px;
    border: solid red 1px;

    opacity: .5;
}
.blackbox{
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
}
.whitebox{
    width: 100px;
    height: 100px;
    background-color: white;
    float: left;
}
